<div class="row">
    <div class="col s12 l10">
        <ul class="posts collection" id="all-posts">
            <% for( post of posts ) { %>
                <%- include('_post_item') %> 
            <% } %>
        </ul>
    </div>
</div>